@import "entry";

.c-section {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
  &__title {
    font-size: 18px;
    font-weight: 900;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
  }
}